<h1>Listing caterogies</h1>

<table>
  <tr>
    <th>Parent</th>
    <th>Name</th>
  </tr>

<% @caterogies.each do |caterogy| %>
  <tr>
    <td><%=h caterogy.parent_id %></td>
    <td><%=h caterogy.name %></td>
    <td><%= link_to 'Show', caterogy %></td>
    <td><%= link_to 'Edit', edit_caterogy_path(caterogy) %></td>
    <td><%= link_to 'Destroy', caterogy, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New caterogy', new_caterogy_path %>